/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	/*width: 370px;*/
	font-size: 1.0em;
	color: #333;
}

form.cmxform legend {
	padding-left: 0;
}

form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
}
form.cmxform .left{
float: left;
width: 50%;
border-right: 1px solid #64d6ce;
margin-right: 40px;
}
form.cmxform div.right input{
border:none;
height:30px;
width:80px;
}

form.cmxform fieldset fieldset {
	background: none;
}

form.cmxform select {
	width: 150px;
}


form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
	/*background: url(../images/cmxform-divider.gif) left bottom repeat-x;*/
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	display: none;
	color: red;
	font-style: italic;
	font-weight:normal;
	font-size: 11px;
}
/*div.error { display: none; }*/
form.cmxform input {	border: 1px solid gray; }
form.cmxform input:focus { border: 1px solid black; }
form.cmxform input.error { border: 1px dotted red; }
form.cmxform input.radio {	border: 0px solid gray; }
/* Ad preview box */

#ad-preview-container {
	width: 220px;
	margin-left:650px;
	position: absolute;
}
#ad-preview {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	border: 3px dashed #CCCCCC;
	padding: 15px;
	overflow:hidden;
	background: #ffffff;
}
#ad-preview #preview_text_ad_headline {
	color:#0000FF;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
}
#ad-preview #preview_text_ad_text {
	cursor:pointer;
}
#preview-caption {
	margin-top:5px;
	display:block;
	color:#999999;
	text-align:right;
}

form.cmxform .tip {
	width: 220px;
	margin-left:584px;
	position: absolute;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	border: 1px dashed #CCCCCC;
	padding: 15px;
	overflow:hidden;
	background: #ffffff;
}


div.uploadBox {
	margin-top: 50px;

}


form.cmxform label .bigradio{
width: 200px;
}


/*********************************** Client Sheet *************************************************/
.clear{ clear:both;}
.clientform{ width:100%; margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.clientform p{ width:114px; float:left; color:#333333;}
.clientformDetail{margin-top: 8px;}
.clientformHeading{ font-weight:bold; color:#333333; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0 0 0 0;}
.searchcamp{ margin:10px 0;}
.cam1{ margin:0 10px 10px 0px; float:left;}
.cam1 strong{ font-weight:normal; padding:0 0 0 10px;}
.cam1 select{ border:1px solid #CCCCCC; width:390px; margin:13px 0 0 10px; height:242px;}
.cam1 span{ cursor:pointer;}
.cam2{ margin:0 10px 10px 0px; float:left;}
.cam2 strong{ font-weight:normal; padding:0 0 0 10px;}
.cam2 span{ cursor:pointer;}
.mar{ margin:10px 0 0 0; color:#000;}
.mar a {color:00B0D0}
.mar input{ color:#000;}
.mar span{color:#FF0000;}