body{
	font-family:Arial, Helvetica, sans-serif;;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	/*color: #c6b602;*/ /* ------------ bg color change ------------ */
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/images2/body-bg1.gif);
	background-repeat: repeat-y;
	background-position: center top;
			
/*
	background-color: #FFFFFF;
	background-image: url(../images/images2/back_bg.jpg);
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#C6CCD8;
	scrollbar-shadow-color:#000000;
	scrollbar-face-color:#374D79;
	scrollbar-highlight-color:#B2BAC9;
	scrollbar-darkshadow-color:#B2BAC9;
	scrollbar-3dlight-color:#374D79;
*/
}

.flt{ float:left;}
.cls{ clear:both;}

.body-100{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/images2/body.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}



img {
	border: 0;
}

#div{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	padding-right:4px;
	padding-left:4px;
	float:left;
	margin-right:10px;	
}



/*--------------------------------------  Start Top Header Css --------------------------------------*/

#logo {
	width: 282px;
	height: 92px;
	background:  url(../images/images2/logo.jpg) no-repeat;
	background-position: center top;
	float:left;
}
#top-link{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #B5B7B7;
	text-decoration: none;
	text-align:right;
	padding-right:20px;
	padding-top:20px;	
}
.top-link{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #B5B7B7;
	text-decoration: none;
}
a.top-link:hover{
	text-decoration:underline;
	color:#77FFFF;
}
a:hover{
	text-decoration:none;
}
#header {
	width: 887px;
	height: 92px;
	background:  url(../images/images2/top-header-bg.gif) no-repeat;
	background-position: center top;
}
#button-header {
	width: 887px;
	height: 35px;
	background:  url(../images/images2/top-button-bg.gif) repeat;
}
#button-header a {float:left; border:0; outline:none 0;}
#top-header-pict {
	width: 887px;
	height: 325px;
	background-color: #858585
}
#top-header-pict1 {
	width: 887px;
	height: 214px;
	background-color: #858585
}
#top-header-text {
	width: 380px;
	height: 325px;
	background-position: center top;
	float: left;
}
#top-pict {
	width: 505px;
	height: 325px;
	float: left;	
}
.topWelcometext {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#CCCCCC;
	text-decoration:none;
}
.topWelcometext1 {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#77FFFF;
	text-decoration:none;
	text-transform: uppercase;
}
#topLink {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #D7D9D9;
	text-decoration: none;
	text-transform:uppercase;
	width:170px;
	height:20px;
	float:left;
	text-align:center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
}
.topLink {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #D7D9D9;
	text-decoration: none;
	text-transform:uppercase;
	width:170px;
	height:20px;
	float:left;
	text-align:center;
}
a.topLink:hover{
	text-decoration:none;
	color:#77FFFF;
}
/*--------------------------------------  End Top Header Css --------------------------------------*/

/*--------------------------------------  Start Center Css --------------------------------------*/


#center {
	width: 887px;
	height: 600px;
	background-color: #E5E5E5;
}
#center-box {
	width: 283px;
	height: 830px;
	float: left;
}
#leftmenu-box {
	width: 187px;
	height: 400px;
	float: left;
	padding-left:6px;
	padding-top:5px;
}
.leftmenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	width: 187px;
	height: 30px;
	padding-left:30px;
	background:  url(../images/images2/left-button-bg.gif) no-repeat;
}
.leftmenu1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	width: 187px;
	height: 30px;
	padding-left:30px;
	background:  url(../images/images2/left-button-bg1.gif) no-repeat;
}
#left-menu {
	width: 187px;
	height: 30px;
	float: left;	
	background:  url(../images/images2/member-login-bg.gif) no-repeat;
	background-position: center top;
	margin-top:6px;
	margin-bottom:10px;
	margin-left:2px;
}
#leftside-box {
	width: 283px;
	height: 243px;
	float: left;	
	background:  url(../images/images2/member-login-bg.gif) no-repeat;
	background-position: center top;
	margin-top:6px;
	margin-bottom:10px;
	margin-left:2px;
}
#leftside-box1 {
	width: 283px;
	height: 286px;
	float: left;	
	background:  url(../images/images2/news-bg.gif) no-repeat;
	background-position: center top;
	margin-left:2px;
}
#center-box1 {
	width: 592px;
	height: 400px;
	float: right;
}
#center-box2 {
	width: 677px;
	float: right;
	border: solid 1px #0000FF;
}
#center-text-box {
	width: 592px;
	height: 286px;
	background:  url(../images/images2/center-text-bg.gif) no-repeat;
	background-position: center top;
	float: right;
	margin-top:5px;		
}
#center-text-box1 {
	width: 677px;
	height: 400px;
	background:  url(../images/images2/center-text-bg1.gif) no-repeat;
	background-position: center top;
	float: right;
	margin-top:5px;
	margin-right:3px;
	border: solid 1px #FF0000;
}
.member-title{
	height:26px;
	background: url(../images/images2/member-login.gif) no-repeat;
	float:left;
	margin-left:3px;
	margin-top:8px;
}
#left-side{
	width:270px;
	height:30px;
}

/*--------------------------------------  End Center Css --------------------------------------*/

/*--------------------------------------  Start Footer Css --------------------------------------*/


/*
#footer {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
	width: 887px;
	height: 47px;
	background:  url(../images/images2/footer-bg.gif) no-repeat;
	background-position: center top;
}*/
#footer-ext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
	width: 887px;
	height: 47px;
	background:  url(../images/images2/footer-bg.gif) no-repeat;
	background-position: center top;
}

#footer{
background-color:white;
color:#7F7F7F;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
height:47px;
text-decoration:none;
}

.footer-link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
}
a.footer-link:hover{
	text-decoration:underline;
	color:#2B86A0;
}
/*
#footer1 {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
	width: 887px;
	height: 80px;
	background:  url(../images/images2/footer-bg.gif) no-repeat;
	background-position: center top;
	background-color:#FFFFFF;

}*/
#footer1-ext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
	width: 887px;
	height: 80px;
	background:  url(../images/images2/footer-bg.gif) no-repeat;
	background-position: center top;
	background-color:#FFFFFF;

}
#footer1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/images2/footer-bg100.gif) repeat scroll center top;
color:#7F7F7F;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
height:60px;
width: 100%;
text-decoration:none;
}

/*--------------------------------------  End Footer Css --------------------------------------*/


/*--------------------------------------  Start Normal Text Css --------------------------------------*/


p, ul, li, ol, li {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
}
.text11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #3D3D3D;
	text-decoration: none;
}
.normaltext11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #7F7F7F;
	text-decoration: none;
}
.normalColor11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #359BB9;
	text-decoration: none;
}
.normalColorLink11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #359BB9;
	text-decoration: underline;
}
.normalColorBold {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #359BB9;
	text-decoration: none;
}
.normalColorLink {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #359BB9;
	text-decoration: underline;
}
.normalBold {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #585858;
	text-decoration: none;
}
.normalBoldLink {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #585858;
	text-decoration: underline;
}
a.normalBoldLink:hover{
	text-decoration:none;
	color:#1595A0;
}
.leftmenu-Link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align:left;
}
.headTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align:left;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #027881;
	text-decoration: none;
}
.titleText {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #027881;
	text-decoration: none;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #36577F;
	text-decoration: none;
}
.sub-titleText {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #36577F;
	text-decoration: none;
}
.normalText12{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	text-align:justify;
}
.Text12{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;

}
.hintsText{
	clear:none;
	color:#999999;
	font-size:90%;
	font-style:italic;

}
.normalBold12 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #585858;
	text-decoration: none;
}
/*--------------------------------------  End Normal Text Css --------------------------------------*/
.textbox {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #515151;
	text-decoration: none;
	height: 18px;
	border-top: 1px solid #828177;
	border-right: 1px solid #F0EFEC;
	border-bottom: 1px solid #F0EFEC;
	border-left: 1px solid #828177;
}
.droupdown {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #515151;
	text-decoration: none;
	border-top: 1px solid #828177;
	border-right: 1px solid #F0EFEC;
	border-bottom: 1px solid #F0EFEC;
	border-left: 1px solid #828177;
}
.textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #515151;
	text-decoration: none;
	border-top: 1px solid #828177;
	border-right: 1px solid #F0EFEC;
	border-bottom: 1px solid #F0EFEC;
	border-left: 1px solid #828177;
}
li {
	color:#0B8D97;
	list-style:square;
	list-style-position: inside;
	padding-left:10px;
}
.center-TableBG {
	background-color:#E5E5E5;
}
.center-BGbox {
	width: 677px;
	background:  url(../images/images2/center-text-bg1.gif) no-repeat;
	background-position: center top;
}
.trBG-title {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#6C9CA6;
}
.trBG-title1 {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#989B9C;
}
.trBG-title2 {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#989B9C;
}
a.tr-titleLink:hover {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color:#77FFFF;
	text-decoration: none;
}
.tr-titleLink {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.trBG-subtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#D9F8FD;
}
.trFormTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #046683;
	text-decoration: none;
	background-color:#c9f0f7;
}
.trBGColor {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	background-color:#F2FCFE;
}
.trBGColor1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	background-color:#FFFFFF;
}
.star {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #F60000;
	text-decoration: none;
}
.trBGGray {
	background-color:#C1C1C1;
}
.trBGGray1 {
	background-image:url(../images/images2/line.gif);
	background-repeat:repeat;
	height:30px;	
}
.grayButton {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #707070;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7C7C7C;
	border-right-color: #BDBCBC;
	border-bottom-color: #BDBCBC;
	border-left-color: #7C7C7C;
	padding: 1px 3px 1px 3px ;
}
.blueButton {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2F586B;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FB9CD;
	border-right-color: #000f6B;
	border-bottom-color: #000f6B;
	border-left-color: #8FB9CD;
	padding: 1px 3px 1px 3px ;
}
.submit {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2F586B;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FB9CD;
	border-right-color: #000f6B;
	border-bottom-color: #000f6B;
	border-left-color: #8FB9CD;
	padding: 1px 3px 1px 3px ;
}
.center-bg {
	background-image: url(../images/images2/center-bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
.menu {
	background-color:#34393B;
}
.menu1 {
	background-color:#989B9C;
}
.border {
	background-color:#E5E5E5;
	border: solid 1px #CDCDCF;
}.topHeaderBG {
	background-image: url(../images/images2/top-header-bg.gif);
	background-repeat: no-repeat;
}
.centerVideoBG {
	background-image: url(../images/images2/center-video-bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
/*--------------------------Old CSS divs and classes------------------------*/

div.error {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #F60000;
	text-decoration: none;
	width: 98%;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;

}
div.msg {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #007777;
	text-decoration: none;
	width: 98%;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;

}


.banner_thumbnail {
	height:70px;
	border: 2px solid black;;
	padding: 2px;
}
.banner_mini_thumbnail {
	height:50px;
	border: 2px solid black;;
	padding: 2px;
}

.branded_mini_thumbnail {
	height:30px;
	padding: 2px;
}




#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}
/*p, label{font-size: 1.2em;}*/


#JT_arrow_left{
	background-image: url(../images/images1/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/images1/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 1px solid #CCCCCC;
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
	
	}

	


#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
	
}

.JT_loader{
	background-image: url(../images/images1/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
	font-family:Tahoma;
    font-size:12px;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
	font-family:Tahoma;
font-size:12px;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
background-color:#6C9CA6;
color:#FFFFFF;
padding-left:2px;
padding-right:2px;
}



span.runDot, span.runWarningDot, span.stopDot, span.bothDot, span.bothWarningDot, span.stopWarningDot, span.enV {
    background: url("../images/status_icon.png") no-repeat scroll -5px -5px transparent;
    display: inline-block;
    height: 15px;
    width: 15px;
}
span.stopDot {
    background-position: -5px -55px;
}
span.bothDot {
    background-position: -5px -30px;
}
span.runWarningDot {
    background-position: 0 -80px;
    height: 16px;
    width: 20px;
}
span.bothWarningDot {
    background-position: 0 -105px;
    height: 16px;
    width: 20px;
}
span.stopWarningDot {
    background-position: 0 -130px;
    height: 16px;
    width: 20px;
}

span.enV{
 background-position: -5px -80px;
}



 
.selectBoxStyle{
font-family:Tahoma;
font-size:11px;
color:#000000;
border-color:#333333;
border-style:Solid;
border-width:1px;
}
.formDiv {
	border:solid 1px #ffffff;
	height:100%;	
}
.labelHead {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#046683;
	font-weight:bold;
	text-decoration:none;
	float:left;
	width:815px;
	background-color:#c9f0f7;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #e5fafe;
	border-bottom:solid 1px #e5fafe;
}
.labelSubHead {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#359bb9;
	font-weight:bold;
	text-decoration:none;
	float:left;
	width:810px;
	text-align:left;
	background-color:#f2fcfe;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #e5fafe;
	border-bottom:solid 1px #e5fafe;
}
.labelText {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	float:left;
	width:265px;
	text-align:right;
	background-color:#fff;
	padding-left:5px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:solid 1px #e5fafe;
}
.labelText1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	float:left;
	width:534px;
	text-align:left;
	background-color:#fff;
	padding-left:10px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-left:solid 1px #e5fafe;
	border-bottom:solid 1px #e5fafe;
}

/*
DATE - 05-21-2013
-------------------- */
		
.videoclipsection{/*margin:10px 10px 0px 10px; border:1px solid #dcdbdb; padding:20px 0 24px 22px; */float:left;/* width:856px;*/}
.videoclip{ float:left; padding:0 30px 0px 30px;}
.videobg { background:#fff; padding:6px; position:relative; border:1px solid #ccc;}
.videobg img{ cursor:pointer;}
.playbutton{ position:absolute; top:80px; left:110px;}
.videoclip p{ font-family: Arial, Helvetica, sans-serif;font-size:14px; color:#000; text-align:center; text-decoration:none; margin:10px 0 20px 0;}

