TABLE.jCalendar {
	border: 0;
	border-collapse: collapse;
	background-size:100%;
	border-spacing: 0;
	cursor: default;
	margin: 0 auto;
	overflow: hidden;
}
TABLE.jCalendar TD,
TABLE.jCalendar TH {
	border: 0;
	color: #999;
	font: normal 12px Arial, Helvetica, sans-serif;
	height: 17px;
	text-align: center;
	width: 21px;
}
TABLE.jCalendar TD {
	color: #333;
	font-size: 11px;
	padding-right: 5px;
	text-align: right;
	width: 16px;
}
TABLE.jCalendar TD.current-month {
	COLOR: #aaa
}

TABLE.jCalendar TD.today {
	color: #CF0;
}
TABLE.jCalendar TD.selected {
	FONT-WEIGHT: bold;
}
TABLE.jCalendar TD.selected:hover {
	 COLOR: #cf0; background: none;
}

/*
TABLE.jCalendar TD:hover {
	color: #CF0;
}*/

table.jCalendar td.dp-hover, table.jCalendar td:hover  {
	BACKGROUND: #cf0; COLOR: #000; cursor: pointer;
}


table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	color: #666; background: none;
}

DIV#dp-popup {
	 FONT-SIZE: 10px; Z-INDEX: 199; POSITION: absolute; min-width: 147px;
	 background: url(../images/calback.png);
	height: 175px;
	padding: 0 12px;
	text-align: center;
	width: 147px;
}
DIV#dp-popup H2 {
		color: #CF0;
		font: normal 12px/17px Arial, Helvetica, sans-serif;
		padding-top: 10px;
		padding-bottom:2px;
		text-align: center;
		width: 100%;
}
A#dp-close {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
A#dp-close:hover {
	TEXT-DECORATION: underline
}
DIV#dp-popup A {
	cursor: pointer;
	display: block;
	height: 11px;
	overflow: hidden;
	position: absolute;
	text-indent: -100px;
	top: 13px;
	width: 11px;
}

DIV#dp-popup DIV#dp-nav-prev A{
	background-image: url(../images/dashboard-prev.gif);
	left: 19px;
	CURSOR: pointer;
	float:left
}


DIV#dp-popup DIV#dp-nav-next A {
	background-image: url(../images/dashboard-next.gif);
	right: 19px;
	CURSOR: pointer;
	FLOAT: right
}

DIV#dp-popup DIV#dp-nav-next A:hover {
	background-position: 0 11px;
}

DIV#dp-popup DIV#dp-nav-prev A.disabled {
	CURSOR: default
}
DIV#dp-popup DIV#dp-nav-next A.disabled {
	CURSOR: default
}

DIV#dp-popup A.disabled {
	CURSOR: default; COLOR: #666
}

DIV#dp-popup TD.disabled {
	CURSOR: default
}

.dp-applied{
background-image:url('../images/icon.gif');
background-repeat:no-repeat;
background-position:right top;
height:17px;
padding-top:3px;
cursor:default;
}
.dp-applied:hover{
background-position:right bottom;
}
