* {
	margin: 0;
	padding: 0;
}

#left {
	float: left;
	width: 200px;
	padding-top: 50px;

}

.green {
	text-transform: uppercase;
	color: #00CC66;
	font-size:16px;
	padding-left:20px;
	font-weight: bold;
	padding-top:40px;
}


.black {
	text-transform: uppercase;
	color: #000000;
	font-size:16px;

	padding-left:20px;

}


.green1 {
	text-transform: uppercase;
	color: #00CC66;
	font-size:16px;

	padding-left:20px;

}


.black1 {
	text-transform: uppercase;
	color: #000000;
	font-size:16px;
	border-bottom: groove black;

	padding-left:20px;

}
#right {
	float: right;
	width: 484px;


}

h1, h2, h3 {
	color: #333333;
}

h2 {
}

h3 {
	font-size: 1em;
}

p {
	margin-top: 1.0em;
	line-height: 1.6em;
	text-align: justify;
}
/*
p {
}
*/

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}
#content a {
	/*font-weight: bold;*/
}
a {
	text-decoration: none;
	color: #398198;

}
a:hover {
	text-decoration: underline;
	color: #003754;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}

/* Boxed Style */

.boxed {
}

.boxed .title {
	background: #3C74E6 url(../images/images1/img06.gif) repeat-x;
}

.boxed .menutitle {
	font-size: 14px;
}

.boxed .title h2 {
	height: 28px;
	padding: 12px 0 0 20px;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFFFFF;
}

.boxed .content {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	background: url(../images/images1/img07.gif) repeat-x;
}

/* Post */

.post {
padding: 40px;
}

.post .date {
	margin-top: -25px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
	color: #FFFFFF;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
	clear: both;
	margin-top: 25px;
}
.post .meta p {
	margin: 0;
	padding: 10px 20px 40px 20px;
	border-top: 1px dotted #CCCCCC;
	line-height: normal;
	font-size: x-small;
}

.post .18 {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	/*background: url(../images/images1/img07.gif) repeat-x;*/
}

/* Header */

#header {
	width: 98%;
    background:  url(../images/header-bglogin.jpg) no-repeat;
	height:149px;}

/* Header > Logo */

#logo {
	float: left;
	width: 240px;
	height: 100px;
	/*background: url(http://www.vdopia.com/images/images1/vdopianew/LOGO.gif) no-repeat;*/
	margin-top: 15px;
}


#logo h1 {
	float: left;
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 2.6em;
}

#logo h2 {
	float: left;
	margin-top: -5px;
	font-size: 1em;
}

#logo a {
	text-decoration: none;
	color: blue;
}

/* Header > Menu */

#menu {
	float: right;
	margin-top:69px;
	height: 20px;
}

#menu ul {
	margin: 0;
	padding-top: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	margin-left: 2px;
	padding-top: 10px;
	background: url(../images/images1/img03.gif) no-repeat;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background-image: url(../images/images1/img05.gif);
}

#menu .active a {
	background-image: url(../images/images1/img05.gif);
}

#submenu {
	float: right;
}

#submenu ul {
	margin: 0;
/*	padding-top: 59px;*/
	list-style: none;
}

#submenu li {
	display: inline;
}

#submenu a {
	display: block;
	float: left;
	width: 120px;
	padding: 5px;
	margin-left: 2px;
	text-decoration: none;
	color:#B35400;
	/*color:#e37400;*/
/*	background: url(../images/images1/img03.gif) no-repeat;*/
	text-align: center;
}

#submenu a:hover {
	text-decoration:underline;
	background:white;
}

#submenu .active a {
	color:#B35400;
	font-weight:bolder;
	text-decoration:underline;
	background:white;
}


/* Content */

#center-content {
	width: 940px;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFFF;
}

#content {
	width: 920px;
	margin: 0 auto;
	padding: 10px;
	background: url(../images/images1/img02.jpg) no-repeat;
	border-top: 1px solid #FFFFFF;
}

/* Content > Main */

#main {
	float: left;
	width: 670px;
	padding-left: 20px;
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: left;
	width: 220px;
}
.button {
width: 60px;
background:#3C74E6 url(../images/images1/img06.gif) repeat-x scroll 0%;
}
#sidebar .boxed .title h2 {
	background: url(../images/images1/img08.gif) no-repeat;
}

/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	display: block;
}

#login input {
	margin-bottom: 10px;
	padding: 2px 5px;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

#inputtext1, #inputtext2 {
	width: 160px;
}

#inputsubmit1 {
	margin: 0;
	padding: 0;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	font-size: .8em;
}

#updates p {
	line-height: normal;
	font-size: .8em;
}

#updates a {
	text-decoration: none;
}

/* Content > Sidebar2 */

#sidebar2 {
	float: left;
	width: 180px;
	padding-left: 20px;
}

#sidebar2 .boxed .title h2 {
	background: url(../images/images1/img10.gif) no-repeat right top;
}

/* Content > Sidebar2 > Sponsors */

#sponsors {
}

#sponsors ul {
	margin-left: 0;
	padding-left: 0;
	list-style: inside;
}

/* Content > Sidebar2 > ad120x600 */

#ad120x600 {
	text-align: center;
}

/* Footer */

#footer {
	clear: both;
	width: 960px;
	height: 10px;
	background-image:url(../images/images1/img02b.jpg);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: x-small;
}

#footer a {
	text-decoration: underline;
	color: #666666;
}

#footer a:hover {
	text-decoration: none;
	background: white;
	color: #666666;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}

.meta a:hover{
background: #ffffff;
}


/* set millions of background images/images1 */
.rbroundbox { background: url(../images/images1/nt.gif) repeat; }
.rbtop div { background: url(../images/images1/tl.gif) no-repeat top left; }
.rbtop { background: url(../images/images1/tr.gif) no-repeat top right; }
.rbbot div { background: url(../images/images1/bl.gif) no-repeat bottom left; }
.rbbot { background: url(../images/images1/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 50%; margin: 1em auto; }

.login-box-new-bottom {
background:transparent url(../images/images1/sign-in-bottom.gif) no-repeat scroll center top;
height:11px;
margin:0px -38px;
width:321px;
}

.login-box-new {
background:transparent url(../images/images1/sign-in-bk.gif) no-repeat scroll center top;
float:left;
margin-bottom:80px;
padding:23px 10px 0px 38px;
width:273px;
}

.box {
background:transparent url(../images/images1/sign-in-bk.gif) no-repeat scroll center top;
float:left;
width:200px;
padding-top: 20px;
padding-left: 20px;
}

.banner_thumbnail {
	height:70px;
	border: 2px solid black;;
	padding: 2px;
}
.banner_mini_thumbnail {
	height:50px;
	border: 2px solid black;;
	padding: 2px;
}

.branded_mini_thumbnail {
	height:30px;
	padding: 2px;
}

div.error{
	color: red;

	font-style: italic;
	width: 100%;
	padding: 5px;
	background: #FFFFD9;
	text-align:center;
	border: 1px solid gray;
	margin-bottom: 10px;

}


div.alert{
	color: gray;

	font-style: italic;
	width: 100%;
	padding: 5px;
	background: #FFD9D9;
	text-align:center;
	border: 1px solid gray;
	margin-bottom: 10px;

}



.datadisplay table{

}

.datadisplay table th{
font-weight: bold;

width: 150px;
}

.datadisplay table td{

width: 150px;
align: left;
}
/*
.submenu ul{
padding-bottom: 20px;
}

.submenu ul li{
display: inline;
font-weight: bold;
padding-right: 10px;
color: black;
}
.submenu a:hover{
color: white;
background: green;
}

.submenu a{
color: green;
text-decoration: underline;
}*/

.steps table{
background:  #ECF5FA;
border: 1px solid gray;
margin-bottom: 10px;
}
.steps td{
align: left;

font-style: italics;
font-weight: bold;
padding-left: 3px;
}

.highlighted{
background: #ACC5CA ;

}










.selector {
    background: url(/img/tab-line.gif) 0 50% repeat-x;
    width: 100%;
    float: left;
}

.selector h2 {
    background: #fff;
    float: left;
    font-size: 165%;
    word-spacing: -0.1em;
    padding-right: 5px;
}

.selector .tool, .selector .tool:visited {
    float: right;
    font-weight: bold;
    text-decoration: none;
    color: #e37400;
    padding: 2px 1px;
    border: 4px solid #fff;
    background: #fff;
    margin-top: 3px;
    height: 20px;
    word-spacing: -0.1em;
}

.selector span.tool {
    background: #e37400 url(/img/menu-current.gif) 100% -90px no-repeat;
    padding: 0;
    height: auto;
} /*ie6*/

.selector span.tool strong {
    display: block;
    background: url(/img/menu-current.gif) 0 -90px no-repeat;
    color: #fff;
    padding: 2px 6px;
    height: 16px;
}

.selector a.tool:hover {
    text-decoration: underline;
}

.selector select {
    font-size: 100%;
}

/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development
Author : Cody Lindley

/* ---- jtip <<<---------------------------------------------------------------*/



#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}
/*p, label{font-size: 1.2em;}*/


#JT_arrow_left{
	background-image: url(../images/images1/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/images1/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/images1/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
background-color:#3E9722;
color:#FFFFFF;
padding-left:2px;
padding-right:2px;
}



ul.mainlist li {
	padding-bottom: 10px;
}

ul.mainlist a {
	font-size: 14px;
}


table.helptop {
	margin-bottom: 10px;
	font-size: 16px;
}

div.answers {
	margin-bottom: 20px;
}



.inputlogintext, .inputloginpassword {
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px;
padding: 1px;
width: 150px;
}
* {
	margin: 0;
	padding: 0;
}


body {
	font-family:Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
	font-size:12px;
	line-height:18px;

	margin: 20px 0;
/*	font: normal small  "Trebuchet MS","Century Gothic",Arial;*/
		color: #222222;
		background: #1c90cd url(../images/images1/bg.jpg) repeat-x;

}
#left {
	float: left;
	width: 200px;
	padding-top: 50px;

}

.green {
	text-transform: uppercase;
	color: #00CC66;
	font-size:16px;
	padding-left:20px;
	font-weight: bold;
	padding-top:40px;
}


.black {
	text-transform: uppercase;
	color: #000000;
	font-size:16px;

	padding-left:20px;

}


.green1 {
	text-transform: uppercase;
	color: #00CC66;
	font-size:16px;

	padding-left:20px;

}


.black1 {
	text-transform: uppercase;
	color: #000000;
	font-size:16px;
	border-bottom: groove black;

	padding-left:20px;

}
#right {
	float: right;
	width: 484px;


}

h1, h2, h3 {
	color: #333333;
}

h2 {
}

h3 {
	font-size: 1em;
}

p {
	margin-top: 1.0em;
	line-height: 1.6em;
	text-align: justify;
}
/*
p {
}
*/

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}
#content a {
	/*font-weight: bold;*/
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}

/* Boxed Style */

.boxed {
}

.boxed .title {
	background: #3C74E6 url(../images/images1/img06.gif) repeat-x;
}

.boxed .menutitle {
	font-size: 14px;
}

.boxed .title h2 {
	height: 28px;
	padding: 12px 0 0 20px;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFFFFF;
}

.boxed .content {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	background: url(../images/images1/img07.gif) repeat-x;
}

/* Post */


.post .title {
	/*background: #3C74E6 url(../images/images1/img06.gif) repeat-x;
	font-size: 1em;
	text-transform: uppercase;
	color: #FFFFFF;*/
	padding-top: 4px;
	font-size:19px;
	color: #111111;
}

.post .title span {
	display: block;

	height: 20px;
	/*padding: 12px 0 0 20px;*/
	padding: 0px 0px 2px 0px;
	margin: 0px 0px 26px 0px;
}

.post .date {
	margin-top: -25px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
	color: #FFFFFF;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
	clear: both;
	margin-top: 25px;
}
.post .meta p {
	margin: 0;
	padding: 10px 20px 40px 20px;
	border-top: 1px dotted #CCCCCC;
	line-height: normal;
	font-size: x-small;
}

.post .18 {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	/*background: url(../images/images1/img07.gif) repeat-x;*/
}

/* Header */

#header {
	width: 98%;
    background:  url(../images/header-bglogin.jpg) no-repeat;
	height:169px;
}

/* Header > Logo */

.headerback{
    background: #CAE646 url(../images/header-repeatlogin.jpg) left top repeat-x;
    width: 99.3%;
}

#logo {
	float: left;
	width: 240px;
	height: 100px;
	/*background: url(http://www.vdopia.com/images/images1/vdopianew/LOGO.gif) no-repeat;*/
	margin-top: 15px;
}

#header-rightcrn{
   width: 98%;
	background: url(../images/headerright_crnlogin.jpg) right top no-repeat;
	margin:0 auto;
	

}

#side {
	width: 650px;
	height: 20px;
	float: right;
	text-align: right;
	color: #ffffff;
	padding:8px 0 0 0;
}


#side a{
	color: #ffffff;
	padding:0 10px;
	text-decoration:none;
}


#logo h1 {
	float: left;
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 2.6em;
}

#logo h2 {
	float: left;
	margin-top: -5px;
	font-size: 1em;
}

#logo a {
	text-decoration: none;
	color: blue;
}

/* Header > Menu */

#menu {
	float: right;
	font-size: 13px;

}

#menu ul {
	margin: 0;
	padding-top: 79px;
	list-style: none;

}

#menu li {
	display: inline;

}

#menu a {
	display: block;
	float: left;
	width: 112px;
	height: 30px;
	margin-left: 2px;
	padding-top: 15px;
	background: url(../images/images1/img03.gif) no-repeat;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}



#menu .active a {
	background-image: url(../images/images1/img05.gif);
	color:#ffffff;
	vertical-align:middle;
}
#menu .active1 a {
	background-image: url(../images/images1/img03.gif);
	color:#FFFFFF;
}
#menu .active1 a:hover {
	background-image: url(../images/images1/img05.gif);
	color:#FFFFFF;
}
#submenu {
	float: right;
}

#submenu ul {
	margin: 0;
/*	padding-top: 59px;*/
	list-style: none;
}

#submenu li {
	display: inline;
}

#submenu a {
	display: block;
	float: left;
	width: 120px;
	padding: 5px;
	margin-left: 2px;
	text-decoration: none;
	color:#B35400;
	/*color:#e37400;*/
/*	background: url(../images/images1/img03.gif) no-repeat;*/
	text-align: center;
}

#submenu a:hover {
	text-decoration:underline;
	background:white;
}

#submenu .active a {
	color:#B35400;
	font-weight:bolder;
	text-decoration:underline;
	background:white;
}


/* Content */
#bottomrightcrn{background:url(../images/images1/content-bottom-right.jpg) right top no-repeat; height:10px;}
#toprightcrn{background:url(../images/images1/content-top-right.jpg) right top no-repeat; }

#content {
background-image:url(../images/images1/content-top-left.jpg);
background-repeat:no-repeat;
	background-color:#FFFFFF;
	width: 98%;
	padding: 0px;
	padding-top:0;
	border-top: 0px solid #FFFFFF;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* Content > Main */

#main {
	float: left;
	width: 670px;
	padding-left: 20px;
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: left;
	width: 220px;
}
.button {
width: 60px;
background:#3C74E6 url(../images/images1/img06.gif) repeat-x scroll 0%;
}
#sidebar .boxed .title h2 {
	background: url(../images/images1/img08.gif) no-repeat;
}

/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	display: block;
}

#login input {
	margin-bottom: 10px;
	padding: 2px 5px;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

#inputtext1, #inputtext2 {
	width: 160px;
}

#inputsubmit1 {
	margin: 0;
	padding: 0;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	font-size: .8em;
}

#updates p {
	line-height: normal;
	font-size: .8em;
}

#updates a {
	text-decoration: none;
}

/* Content > Sidebar2 */

#sidebar2 {
	float: left;
	width: 180px;
	padding-left: 20px;
}

#sidebar2 .boxed .title h2 {
	background: url(../images/images1/img10.gif) no-repeat right top;
}

/* Content > Sidebar2 > Sponsors */

#sponsors {
}

#sponsors ul {
	margin-left: 0;
	padding-left: 0;
	list-style: inside;
}

/* Content > Sidebar2 > ad120x600 */

#ad120x600 {
	text-align: center;
}

/* Footer */
#footer-back {
    background: url(../images//images1/footer-rightcrn.jpg) no-repeat scroll right top #FFFFFF;
    height: 71px;
    margin: -10px auto 0;
    width: 98%;
}

#footer {
	clear: both;
	width: 100%;
	height: 71px;
	background: url(../images/images1/footer-leftcrn.jpg) no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: x-small;
	padding:10px;
}

#footer a {
	text-decoration: underline;
	color: #666666;
}

#footer a:hover {
	text-decoration: none;
	background: white;
	color: #666666;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}

.meta a:hover{
background: #ffffff;
}


/* set millions of background images/images1 */
.rbroundbox { background: url(../images/images1/nt.gif) repeat; }
.rbtop div { background: url(../images/images1/tl.gif) no-repeat top left; }
.rbtop { background: url(../images/images1/tr.gif) no-repeat top right; }
.rbbot div { background: url(../images/images1/bl.gif) no-repeat bottom left; }
.rbbot { background: url(../images/images1/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 50%; margin: 1em auto; }

.login-box-new-bottom {
background:transparent url(../images/images1/sign-in-bottom.gif) no-repeat scroll center top;
height:11px;
margin:0px -38px;
width:321px;
}

.login-box-new {
background:transparent url(../images/images1/sign-in-bk.gif) no-repeat scroll center top;
float:left;
margin-bottom:80px;
padding:23px 10px 0px 38px;
width:273px;
}

.title1{
color:#222222;
font-size: 13px;

}


.box {
background:transparent url(../images/images1/sign-in-bk.gif) no-repeat scroll center top;
float:left;
width:200px;
padding-top: 20px;
padding-left: 20px;
}

.banner_thumbnail {
	height:70px;
	border: 2px solid black;;
	padding: 2px;
}
.banner_mini_thumbnail {
	height:50px;
	border: 2px solid black;;
	padding: 2px;
}

.branded_mini_thumbnail {
	height:30px;
	padding: 2px;
}
div.errorsmall{}
div.error{
	color: red;

	font-style: italic;
	width: 98%;
	padding: 5px;
	background: #FFFFD9;
	text-align:center;
	border: 1px solid gray;
	margin-bottom: 10px;

}

div.msg{
	width: 98%;
	padding: 5px;
	background: #E2EEE4;
	text-align:center;
	border: 1px solid gray;
	margin-bottom: 10px;
	color: #000000;
}

.datadisplay table{

}

.datadisplay table th{
font-weight: bold;

width: 150px;
}

.datadisplay table td{

width: 150px;
align: left;
}
/*
.submenu ul{
padding-bottom: 20px;
}

.submenu ul li{
display: inline;
font-weight: bold;
padding-right: 10px;
color: black;
}
.submenu a:hover{
color: white;
background: green;
}

.submenu a{
color: green;
text-decoration: underline;
}*/

.steps table{
background:  #ECF5FA;
border: 1px solid gray;
margin-bottom: 10px;
}
.steps td{
align: left;

font-style: italics;
font-weight: bold;
padding-left: 3px;
}

.highlighted{
background: #ACC5CA ;

}










.selector {
    background: url(/img/tab-line.gif) 0 50% repeat-x;
    width: 100%;
    float: left;
}

.selector h2 {
    background: #fff;
    float: left;
    font-size: 165%;
    word-spacing: -0.1em;
    padding-right: 5px;
}

.selector .tool, .selector .tool:visited {
    float: right;
    font-weight: bold;
    text-decoration: none;
    color: #e37400;
    padding: 2px 1px;
    border: 4px solid #fff;
    background: #fff;
    margin-top: 3px;
    height: 20px;
    word-spacing: -0.1em;
}

.selector span.tool {
    background: #e37400 url(/img/menu-current.gif) 100% -90px no-repeat;
    padding: 0;
    height: auto;
} /*ie6*/

.selector span.tool strong {
    display: block;
    background: url(/img/menu-current.gif) 0 -90px no-repeat;
    color: #fff;
    padding: 2px 6px;
    height: 16px;
}

.selector a.tool:hover {
    text-decoration: underline;
}

.selector select {
    font-size: 100%;
}

/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development
Author : Cody Lindley

/* ---- jtip <<<---------------------------------------------------------------*/



#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}
/*p, label{font-size: 1.2em;}*/


#JT_arrow_left{
	background-image: url(../images/images1/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/images1/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/images1/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
background-color:#3E9722;
color:#FFFFFF;
padding-left:2px;
padding-right:2px;
}



ul.mainlist li {
	padding-bottom: 10px;
}

ul.mainlist a {
	font-size: 14px;
}


table.helptop {
	margin-bottom: 10px;
	font-size: 16px;
}

div.answers {
	margin-bottom: 20px;
}

.inputlogintext, .inputloginpassword {
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px;
padding: 1px;
width: 150px;
}

.Approved {
background:url('../images/images1/thumbsup.png') no-repeat;
padding-left:25px;
height:22px;
color:green;
}

.Disapproved {
background:url('../images/images1/thumbsdown.png')  no-repeat;
padding-left:25px;
height:22px;
color:red;
}


#bannerUploadHelper {
	padding-top: 10px;
}
.photos {
	margin-bottom: 15px;
}
.photos a {
	width: 106px;
	height: 148px;
	float: left;
	background: #C2D3EE;
	text-align: center;
	color: #A2A3A6;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	margin-right: 14px;
}
.photos>a {
	min-height: 148px;
	height: auto;
}
.photos a.last, .greybox-background .right a.last {
	margin-right: 0;
}
.photos a:hover {
	color: #729AD7;
}
.photos a span {
	display: block;
	padding-top: 2px;
}
.photos a>span {
	padding-top: 5px;
}
.greybox {
	border: 1px solid #ccc;
	margin-bottom: 39px;
	padding: 5px 0;
}
.greybox-background {
	background: url("../images/images1/gbback.jpg") repeat-y left top;
	width: 100%;
	line-height: 170%;
}
.greybox-background .left, .greybox-background .right {
	width: 321px;
	float: left;
	padding: 0 10px;
}
.greybox-background .right {
	float: left;
	padding: 0 19px 0 20px;
}
.greybox-background .right a {
	display: block;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.greybox2 {
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 9px 7px;
	width: 688px;
}
.greybox2 .preview {
	float: left;
	margin-right: 40px;
	margin-right: 44px;
}
.greybox2 .preview img {
	padding: 5px;
}
.greybox2 .right {
	float: left;
	width: 350px;
}
.greybox2 .right a {
	float: left;
	margin: 0 14px 7px 0;
}




.MainHeader3 A:visited {
	color:#b70ef4;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:6px;
}

.MainHeader6 {
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	text-transform:uppercase;
	margin-bottom:4px;
}

.boxbg_top {
	background:url(../images/images1/bg_boxtop.gif) no-repeat left top;
	/*width:299px;*/
	width:418px;
	height:22px;
	padding:6px 0 3px 12px;

	color:#666666;
	font-size:16px;
	text-align:left; /*vertical-align:middle;*/
}

.boxbg {
	background: url(../images/images1/bg_box.gif) repeat-y;
	width:430px;
	color:#444444;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: justify; /*vertical-align:top;*/
	height:150px;
	padding-top:3px;
}

.boxbg_bottom {
	background:url(../images/images1/bg_boxbottom.gif) no-repeat left top;
	width:430px;
	height:20px;
	clear:both;
}
.boxbg_bottoma {
	width:100%;
	height:10px;
	background: url(../images/images1/content-bottom-left.jpg) no-repeat scroll 0% 100%;
	background-color: #FFFFFF;
}

.boxbg_in_top {
	background:url(../images/images1/art_boxtop.gif) no-repeat left top;
	width:944px;
	height:32px;
}

.boxbg_in {
	background: url(../images/images1/bg_box2.gif) repeat-y;
	width:944px;

	color:#333333;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	height:auto;
	text-decoration:none;
}


#content-rightcrn{}

.boxbg_in a{


	color:#333333;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	text-decoration:underline;
	}

.boxbg_in a:hover{

	color: #0000FF;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	text-decoration:underline;
	}

.boxbg_in_bottom { background:url(../images/images1/art_boxbottom.gif) no-repeat left top; width:944px; height:32px; clear:both}

.innerbox2 {
	width:902px;
	border-top:1px solid #e8e7e7;

	color:#454646;
	font-size:12px;
	line-height:18px;
	text-align:left; /*vertical-align:top;*/
	margin-left:21px;
	clear:both;
}

.innerbox_news { width:902px; border-top:1px solid #e8e7e7; color:#454646; font-size:12px; line-height:18px; text-align:center; /*vertical-align:top;*/ margin-left:21px; clear:both; }

.boxbg a{color:#ffffff; text-decoration:none}
.boxbg a:visited{color:#ffffff; text-decoration:none}
.boxbg a:hover{color:#ffffff; text-decoration:none; background: none;}

.innerboxbg_top { background:url(../images/images1/bg_boxtopstrip.gif) repeat-x top; padding:6px 0px 0px 0px; color:#666666; font-size:16px; text-align:left; /*vertical-align:top;*/ height:32px;}
.innerboxbg_leftmid { background:url(../images/images1/bg_boxmiddleleft.gif) repeat-y top; padding:0px; margin:auto}
.innerboxbg_rightmid { background:url(../images/images1/bg_boxmiddleright.gif) repeat-y top; padding:0px;}

.innerbox { background:#FFFFFF; border-top:1px solid #e8e7e7; padding:6px 0px; color:#454646; font-size:12px; line-height:18px; text-align:left; /*vertical-align:top;*/ }
.innerbox a{color:#4b4745; text-decoration:underline}
.innerbox a:visited{color:#4b4745; text-decoration:underline}
.innerbox a:hover{color:#383bfc; text-decoration:underline}

.txtinner_bold {

	color:#454646;
	font-size:12px;
	line-height:26px;
	text-align:left;
	font-weight:bold;
}



/*


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#ffffff;
	background-image: url(../images/images1/bg_stripe.gif);
	background-repeat:repeat-x;
}
body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
img {
	border:0px;}
#main_container {
	margin: 0px auto;
	width: 960px;
	height: auto;
	background-image:url(../images/images1/art_back.jpg);
	background-repeat:no-repeat;
	margin-top:8px;

}
#header {
height:83px;
padding:13px 18px 0px 18px;
}
.btn_jobs{
	float:right;
	margin:0px;
	padding:5px 0px 0px 0px;
	height:auto;
	width:170px;
	vertical-align:top;
	text-align:right;
}
.art_logo{
	float: left;
	margin:0px;
	padding:0px;
	height:auto;
	width:250px;
}

#navcontainer { width:934px; margin-left:13px; }
#navcontainer-in { width:934px; height:78px; margin-left:13px; }

#navlist { margin:0px; padding:0px;}
#navlist li {
	font-family: Tahoma;
	font-weight:normal;
	font-size:12px;
	color:#ffffff;
	display: inline;
	background:url(../images/images1/btn_divi.jpg) no-repeat right .1em;
	padding-right: 14px;
	padding-left: 10px;
	border-right:0px solid #ffffff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:left;
}
#navlist li a{ color:#ffffff; text-decoration:none; }
#navlist li a:hover{ color:#d3d7d9; text-decoration:none; }

#banner { width:934px; height:335px; margin-left:13px;}
#banner-in {
	width:934px;
	height:56px;
	margin-left:13px;
	background-image:url(../images/images1/section-bar.jpg);
	background-repeat:no-repeat;
	padding: 0 0 0 10px; }

#body { float:left; width:943px; margin-left:9px;}
#left_column { width:311px; float:left; }
#left_content {
	margin:0px;
	padding:0px;
	float:left;
	width: 300px;
	height: auto;
	clear: both;
}

.left_cont {
	margin:0px;
	padding:0px;
	float:left;
	width: 400px;
}
.right_cont {
	margin:0px;
	padding:0px;
	float:right;
	width: 450px;
}

#mid_column { width:311px; float:left; padding-left:4px;  }
#mid_content {
	float:left;
	width: 312px;
	text-align:justify;
}
#right_column {	width:311px; float:left; padding-left:4px;}
#right_content {
	float:right;
}

#left_content_in {
	width:480px;
	float:left;
	padding-left:20px;
	padding-top: 10px;
}

#right_content_in {
	width:390px;
	float:right;
	padding-right:30px;
	padding-top: 36px;
}

.left_content_in {
	width:480px;
	float:left;
	padding-left:20px;
	padding-top: 10px;
}

.right_content_in {
	width:390px;
	float:right;
	padding-right:30px;
	padding-top: 36px;
}

#footer {
	float:left;
	width:934px;
	margin-left:13px;
	margin-top:10px;
}

.MainHeader {
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	text-transform:uppercase;
	margin-bottom:4px;
	padding-top: 18px;
	padding-left: 5px;
	padding-top: 17px;
}

.MainHeader3 {
	color:#b70ef4;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:8px;
}

.MainHeader3 A:link {
	color:#b70ef4;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:6px;
}

.MainHeader3 A:hover {
	color:#0000FF;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:6px;
}

#subnav UL {
	DISPLAY: inline;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	MARGIN: 0px; FONT-FAMILY: tahoma;
	text-align:left;
	font-style:italic;
}

#subnav UL LI { PADDING-RIGHT: 16px; DISPLAY: inline; FONT-SIZE: 11px; FONT-FAMILY: tahoma; LIST-STYLE-TYPE: none;}
#subnav A:link { COLOR: #1f4fb4; TEXT-DECORATION: none}
#subnav A:visited {	COLOR: #1f4fb4; TEXT-DECORATION: none}
#subnav A:hover { COLOR: #1f4fb4; TEXT-DECORATION: underline}
.current A:link { COLOR: #000000!important}
.current A:visited { COLOR: #000000!important}
.current A:hover { COLOR: #000000!important; TEXT-DECORATION: none!important}

.listmain { margin-left:0; margin-top:0px; margin-bottom:0px; padding-left:12px; list-style:none; }
.listmain li{ background:url(../images/images1/ico_arrow.gif) no-repeat; background-position: .2em .2em; list-style:none;color:#759402; font:bold 12px tahoma; padding:0px 22px 10px 20px;}
.listmain span{ color:#4b4745; font:bold 11px tahoma;}
.listmain span a{ font-weight:bold; text-decoration:underline; color:#4b4745; font-size:11px;}
.listmain span a:visited{ font-weight:bold; text-decoration:underline; color:#4b4745; font-size:11px;}
.listmain span a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:11px;}

.list2 { margin-left:0; padding-left:0; list-style:none; margin-top:0px;}
.list2 li{
	background:url(../images/images1/ico_box.gif) no-repeat;
	background-position:.5em;
	list-style:none;
	color:#759402;
	font:bold 11px tahoma;
	padding-left: 20px;
	padding-bottom:4px;
}

.list2 li a{color:#4b4745; text-decoration:underline}
.list2 li a:visited{color:#4b4745; text-decoration:underline}
.list2 li a:hover{color:#383bfc; text-decoration:none}



.listb1{ margin-left: 0;padding-left: 0;list-style: none; margin-top:0px;}
.listb1 li{
	background:url(../images/images1/ico_arrow.gif) no-repeat;
	background-position: .2em .2em;

	color:#454646;
	font:normal 12px tahoma;
	padding-left: 20px;
	padding-bottom:4px;
}

li.list2 {
	background:url(../images/images1/ico_arrow.gif) no-repeat;
	background-position: .2em .2em; list-style:none;color:#454646;
	font:normal 12px tahoma;
	padding-left: 28px;
	padding-bottom:5px;
}

.listgal{
	width:141px;
	height:27px;
	float: left;
	margin-bottom: 5px;
	text-align: left;
	line-height:14px;
	padding: 0px;
}
.listgal_right{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	margin-top:0px;
	width:141px;
	height:27px;
	float: right;
	margin-bottom: 5px;
	margin-right: 7px;
	text-align: left;
	line-height:14px;
}
.listgal li{ background:url(../images/images1/icon.jpg) no-repeat;
	background-position: .1.5em .2em;
	list-style:none;color:#759402;
	font:bold 12px tahoma;
	padding-left: 20px;
	padding-bottom:10px;
}
.listgal span{ color:#4b4745; font:normal 11px tahoma; margin-left:20px;}
.listgal a{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:visited{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:12px;}

.presslink {
background:#FFFFFF;
border-top:1px solid #e8e7e7;
padding:6px 0px; font-family:tahoma;
color:#454646;
font-size:12px;
line-height:18px;
text-align:left;
}
.presslink a { color:#b70ef4; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;}
.presslink a:visited { color:#b70ef4; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;}
.presslink a:hover { color:#383bfc; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;}

.txtbox { background-color:#FFFFFF; border:1px solid #b5b5b5; width:270px; height:18px;}
.txtfield { background-color:#FFFFFF; border:1px solid #b5b5b5; width:270px; height:58px;}
.button {
background-color:#e3d8e7;
border:1px solid #e3d8e7;
color:#2d1138; width:70px;
font-size:11px;
font-family:Tahoma;
height:18px;
}

.button1 {
background-color:#e3d8e7;
border:1px solid #e3d8e7;
color:#2d1138;
width:170px;
font-size:11px;
font-family:Tahoma;
height:18px;
}

.txtbox1 { background-color:#FFFFFF; border:1px solid #b5b5b5; width:370px; height:18px;}
.txtfield1 { background-color:#FFFFFF; border:1px solid #b5b5b5; width:370px; height:58px;}

.footer{
	border-top:1px solid #e8e7e7;
	text-align:center;
	color:#6c6b6b;
	font:normal 10px tahoma;
	padding:0px;
}
.dennis{
	width:934px;
	height:24px;
	margin:0px;
	padding-top:10px;
	text-align:center;
	padding-left: 10px;
}
.query{
	width:900px;
	height:auto;
	margin:0px;
	padding:0px;
	text-align: left;
	padding:0px;
}

.dennis_left{
	margin:0px;
	text-align:center;
	float:left;
	background:url(../images/images1/btn_left1.jpg) no-repeat;
	width:10px;
	height:24px;
}
.dennis_right{
	margin:0px;
	width:10px;
	text-align:center;
	background:url(../images/images1/btn_right1.jpg) no-repeat;
	height:24px;
	float:right;
}

.dennis_mid{
	width:914px;
	background: url(../images/images1/bkg_nav.jpg) repeat-x;
	height:24px;
	margin:0px;
	text-align:center;
	float: left;
}

.gallery_leftcol{
	margin:0px;
	padding:0px;
	width:370px;
	height:auto;
	text-align: left;
	line-height: 18px;
}

.left_content_gallery {
	width:372px;
	float:left;
	padding-left:20px;
	height: auto;
}

.contentlink_gallery {
	width:340px;
	float:left;
	height: auto;
	border:#CCCCCC 1px solid;
	padding: 14px;
}

.right_content_gallery {
	width:530px;
	float:right;
	padding-left:15px;
	margin-top: 50px;
	height: auto;
}

.boxbg_gal  {
	width:902px;
	font-family:tahoma;
	color:#454646;
	font-size:12px;
	line-height:18px;
	text-align:left;
	margin-left:21px;
	clear:both;
}

.left_content_adv {
	width:902px;
	float:left;
	padding-left:20px;
}
.SubHeader_grn {
	color:#759402;
	font-size:16px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:6px;
}

.navcontainer-contact {
	width:934px;
	height:50px;
	margin-left:13px;
}
.link_press {
	color:#b70ef4;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:6px;
	text-decoration: none;
	}
.link_press a{
	color:#b70ef4;
	font-size:16px;
	font-family:"Trebuchet MS";
	text-decoration:underline;
}
.link_press a:hover {
	color: #0000ff;
	font-size:16px;
	font-family:"Trebuchet MS";
	text-decoration:underline;
}
.news{
	float: right;
	margin:0px;
	width:250px;
	height:auto;
	text-align: right;
	margin-right: 10px;
	padding-right: 20px;
}
.news_title{
	float: left;
	margin:0px;
	padding:0px;
	width:200px;
	height:auto;
}
.listgal a{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:visited{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:12px;}
.norm{
	text-decoration:none;
	color:#4B4745;
	font-size:11px;
	margin:0px;
	width:330px;
	height:auto;
	float: left;
	text-align: left;
	vertical-align:top;
	padding-bottom: 2px;
	padding-top: 2px;
}
.norm a{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
}
.norm a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
}
.norm a:hover{
	font-weight:bold;
	text-decoration:none;
	color:#383bfc;
	font-size:12px;
}

.norm_right{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:160px;
	height:auto;
	float: right;
	text-align: left;
	vertical-align:top;
}
.norm_right a{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	ont-size:12px;
}

.norm_right a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
}

.norm_right a:hover{
	font-weight:bold;
	text-decoration:none;
	color:#383bfc;
	font-size:12px;
}

.norm_listgal{
	color:#4b4745;
	font:normal 11px tahoma;
	margin-left:20px;
	padding-bottom: 2px;
}
.gal_title_left {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	font-weight:bold;
	width: 155px;
	height: 45px;
	text-align: center;
	float: left;
	padding-top: 4px;
}
.gal_title_right {
	color:#759402;
	font:normal 12px tahoma;
	line-height:18px;
	font-weight:bold;
	width: 155px;
	height: 25px;
	text-align: left;
	float: right;
	padding-top: 15px;
}
.gal_linktitle {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 65px;
	text-align: center;
	float: left;
	padding-top: 4px;
	border:1px dotted #CCCCCC;
}
.gal_linktitle_large {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 82px;
	text-align: center;
	float: left;
	padding-top: 4px;
	border:1px dotted #CCCCCC;
}
.gal_link_right {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 65px;
	text-align: center;
	float: right;
	padding-top: 4px;
	border: 1px dotted #CCCCCC;
}
.gal_link_right_large {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 82px;
	text-align: center;
	float: right;
	padding-top: 4px;
	border: 1px dotted #CCCCCC;
}
.gal_txttitle {
	line-height:18px;
	width: 180px;
	height: 45px;
	text-align:left;
	float: right;
}
.inner_gallery {
	width:330px;
	float:left;
	height: auto;
	border:#CCCCCC 1px solid;
	padding: 19px;
	clear: both;
}
.homgal_right{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:140px;
	height:auto;
	float: right;
	text-align: left;
	vertical-align:top;
}
.homgal_right a{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
}

.homgal_right a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	}

.homgal_right a:hover{
	font-weight:bold;
	text-decoration:none;
	color:#383bfc;
	font-size:12px;
}
.homgal_left{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:150px;
	height:134px;
	float: left;
	text-align: left;
	vertical-align:top;
}
.homgal_left a{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
}

.homgal_left a:visited{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	}

.homgal_left a:hover{
	font-weight:bold;
	text-decoration:none;
	color:#383bfc;
	font-size:12px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.ind_gal{
padding-bottom:2px;
margin:0px;
height:6px;
width:150px;
float:left;
}


.querylist_left{
	margin-right:20px;
	height: auto;
	width:281px;
	float:left;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	border:0px;
	text-decoration:none;
	padding: 0px;
}
.querylist_left ul{
margin: 0;
padding: 0;
list-style: none;
}
.querylist_left li
{
list-style: none;
display: block;
text-decoration:none;
}

.querylist_right
{
	margin-right:10px;
	padding-right:5px;
	height: auto;
	width:281px;
	float:right;
	line-height:16px;
	text-align:left;
	vertical-align:top;
}
.querylist_right ul
{
margin: 0; padding: 0;
}
.querylist_right li
{
list-style: none;
}

.networkquerylist{
	margin-right:15px;
	height: auto;
	width:565px;
	float:left;
	line-height:18px;
	text-align:left;
	vertical-align:top;
	border:0px;
	text-decoration:none;
	padding: 0px;
}
.networkquerylist ul{
margin: 0;
padding: 0;
list-style: none;
}
.networkquerylist li
{
list-style: none;
display: block;
text-decoration:none;
}

#marqueecontainer{
	position: relative;
	width: 282px;
	height: 290px;
	background-color: white;
	overflow: auto;
	padding-left: 0px;
	text-align:center;


}

#marqueecontainer2{
	position: relative;
	width: 275px;
	height: 290px;
	background-color: white;
	overflow: hidden;
	padding: 2px;
	padding-left: 4px;
	text-align:center;
}
.index_galleft{
	margin:0px;
	padding:2px;
	width:87px;
	height:280px;
	overflow: hidden;
	float:left;
}
.index_publisherleft{
	margin:0px;
	padding:8px 0px 0px 0px;
	width:130px;
	height:auto;
	overflow: hidden;
	float:left;
	text-align: center;
}
.index_publisherright{
	margin:0px;
	padding:8px 0px 0px 0px;
	width:130px;
	height:auto;
	text-align:center;
	vertical-align: middle;
	float:right;
	}
.index_galright{
	margin:0px;
	padding:2px;
	width:87px;
	height:280px;
	overflow: hidden;
	float:right;
}
.index_calbox{
	margin:0px;
	padding:8px opx 2px 0px;
	width:122px;
	height:60px;
	text-align:center;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration:none;
}
.index_calbox a{
	color: #333333;
	text-decoration:none;
}
.index_calbox a:hover {
	color: #333333;
	text-decoration: none;
}
.index_calbox a:visited{
	color: #333333;
	text-decoration:none;
}
.index_adgalbox{
	margin:0px;
	padding:8px opx 2px 0px;
	width:87px;
	height:52px;
	text-align:center;
	vertical-align: middle;

	}

.jobs{
	margin:0px;
	padding:0px;
	width:100%;
	height:530px;
}
.job_left{
	margin:20px;
	padding:10px;
	border:1px solid #CCCCCC;
	height:auto;
	width:390px;
	float:left;
}

.job_right{
	margin:18px;
	padding:10px;
	border:1px solid #CCCCCC;
	height:auto;
	width:390px;
	float:right;
}
.job_eng{
	margin:0px 10px 0px 20px;
	padding:0px;
	height:auto;
	width:860px;
	float:left;
}


.events{
	margin:0px;
	padding:0px;
	width:100%;
	height:380px;
}
.adgal_txt{
	margin:0px;
	padding:15px 0px 15px 0px;
	text-align:justify;
	height:auto;
	width:auto;
}
.galinner_heading{
	color:#b70ef4;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:8px;
}
*/


.glossybluebutton {
background:transparent url(../images/images1/but.png) repeat-x scroll 0%;
border:1px outset;
color:#FFFFFF;
padding: 2px;
font-family:"lucida grande",Arial;
font-size: 13px;
}

.submit {
background:transparent url(../images/images1/but.png) repeat-x scroll 0%;
border:1px outset;
color:#FFFFFF;
padding: 2px;
font-family:"lucida grande",Arial;
font-size: 13px;
}


.story ul {

	padding-top: 10px;

}

.story li {
	padding-top: 15px;
}


/* -------------------Start New CSS Add in Home Page---------------------- */

}
.dotline-bg {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #c0c0c0;
	text-decoration: none;
}
.borderDotline {
	border: 1px dotted #999999;
}
.sideBG {
	background-color: #FFFFFF;
	background-image: url(../images/images1/title-bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 210px;
}
.normalText {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}

/* -------------------End New CSS Add in Home Page---------------------- */



#vadminmenu-rep{ background: url(../images/vadmin-reptnav.jpg) left top repeat-x; width: 98%;  height:32px; margin:0 auto;}
#vadminmenu{ background: url(../images/vadmin-leftcrn.jpg) left top no-repeat; width: 100%; height:32px;}
#vadminmenu-right{ background: url(../images/vadmin-rightcrn.jpg) right top no-repeat;; width: 100%;  height:32px; }
.adv-nav{ margin:0px;}

#adv-nav {
	float: right;
	height: 32px;
	margin:0px;
	padding:0px;
}

#adv-nav ul {
	margin: 0;
	list-style: none;
}

#adv-nav li {
	display: inline;
}

#adv-nav a {
	display: block;
	float: left;
	width: 120px;
	height: 32px;
	padding-top: 8px;
	background: url(../images/navVadmin-bg.jpg) no-repeat;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	margin:0px 10px 0 0;
	color: #ffffff;
}

#adv-nav a:hover {
	background-image: url(../images/navVadmin-bg-hover.jpg);
}

#adv-nav .active a {
	background-image: url(../images/navVadmin-bg-hover.jpg);
}

