.menu{
width: 198px; /*width of menu*/
background-color: #E5E5E5;
}

.menu div.silverheader a{
font-family: Arial;
font-size: 11px;
font-style: normal;
font-weight: bold;
font-variant: normal;
text-transform: uppercase;
color: #00808A;
text-decoration: none;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: 198px;
height: 33px;
padding-right: 5px;
padding-left: 10px;
padding-top: 10px;
background: url(../images/droup-menu-header.gif) no-repeat;
}
.menu div.silverheader a:visited, .menu div.silverheader a:active{
color: #000000;
}
.menu div.selected a, .menu div.silverheader a:hover{
background-image: url(../images/droup-menu-header.gif);
color: #00808A;
}
.menu div.submenu{ /*DIV that contains each sub menu*/
background-color: #F7F7F7;
width: 198px;
padding: 0px; /*Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/

}
.droup-menu-line {
	background-color: #D7D7D7;
}
.droup-menu-link-bg {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #646464;
	text-decoration: none;
	background-image: url(../images/droup-menu-arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.dropu-menu-link {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #646464;
	text-decoration: none;
}
a.dropu-menu-link:hover {
	color: #00808A;
	text-decoration: underline;
}
div.playercontainer
{
position:                       absolute;
top:                               200px;
left:                              200px;
width:                             700px;
height:                            320px;
border:                              2px;
padding:                             2px;
border-style:                      solid;
border-color:                    #223344;
z-index:                             100;
}

div.player
{
position:                       absolute;
top:                               200px;
left:                              200px;
width:                             700px;
height:                            320px;
}