
.l1 {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	}
.l1 a:link{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	}
.l1 a:visited{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	}
.l1 a:hover{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #2B86A0;
	text-decoration : underline; 
	}
.l2 {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	text-align: justify;
	}
.l2 a:link{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #747474;
	text-decoration: none;
	}
.l2 a:visited{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #747474;
	text-decoration: none;
	}
.l2 a:hover{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #2B86A0;
	text-decoration : underline; 
	}