@charset "utf-8";
/* CSS Document */

.leftarrow{
	background:url("../common/include/images/more_btn.png") no-repeat;
	cursor:pointer;
	height:32px;
	width:32px;
	border:0;
	margin:/*51*/30px 0 0 0;
	border:none !important;

}

.rightarrow{
	background: url("../common/include/images/less_btn.png") no-repeat;
	border:0;
	height:32px;
	width:32px;
	cursor:pointer;
	border:none !important;
	 
}

/* Tiny Scrollbar */
.scrollbar_1 { width: 450px; margin: 0px 0 10px;border:1px solid #ccc;}
.scrollbar_1 .viewport {width: 435px; height: 350px; overflow: hidden; position: relative;}
.scrollbar_1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar_1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbar_1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar_1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar_1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar_1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.overview p {color:#454545; font:normal 12px Arial, Helvetica, sans-serif; margin:1px 0 1px 10px;float:left;}
.overview p label {width:20px; height:20px; float:left;}
.overview p span {width:375px;margin:1px 0px -2px 0px; line-height:15px; height:17px; white-space:nowrap; overflow:hidden; float:left;}
.overview p input[type=checkbox] {margin-right:6px;}
.overview p img {vertical-align:middle;}
.active {background:url(../images/active.png) no-repeat;}

/* Pagination */
div.pagination {margin:-22px 0 7px 10px;}
div.pagination > p {font:bold 12px/30px Arial, Helvetica, sans-serif; color:#454545; display:inline;float:left;margin-right:30px;}
div.pagination > span {float:left;width: 330px;}
div.pagination > span > a {padding:5px 10px; color:#004276; background:#e4e4e6; border:1px solid #d1d1d3;font:bold 12px Arial, Helvetica, sans-serif;text-decoration: none;}
div.pagination > span > a:hover {padding:5px 10px; color:#004276; background:#e4e4e6; border:1px solid #d1d1d3;font:bold 12px Arial, Helvetica, sans-serif;}

div.pagination > span > select	{padding:5px 10px; color:#004276; background:#e4e4e6; border:1px solid #d1d1d3;font:bold 12px Arial, Helvetica, sans-serif;}
.grey-button{color: #7a7a7a !important;cursor:default;}

/* */
h3.import {font:bold 12.3px Arial, Helvetica, sans-serif; color:#454545;}
span.or a {font:bold 12.3px Arial, Helvetica, sans-serif; color:#454545;display:block; margin-left:27px;}

/* css (for Toggle)*/
 .remove {position:absolute; top:10; left:0; padding:8px; background:#dbdbdf; width:200px; z-index:989898;border:1px solid #d1d1d3;}
.remove p a {color:#454545;font:normal 12px Arial, Helvetica, sans-serif;}
.remove p a:hover {color:#303030;font:normal 12px Arial, Helvetica, sans-serif;}
.remove p img { vertical-align:middle; padding-right:10px; margin-bottom:5px;}

jquery (for Toggle.remove {position:absolute; top:10; left:0; padding:8px; background:#dbdbdf; width:200px; z-index:989898;border:1px solid #d1d1d3;}
.remove p a {color:#454545;font:normal 12px Arial, Helvetica, sans-serif;}
.remove p a:hover {color:#303030;font:normal 12px Arial, Helvetica, sans-serif;}
.remove p img { vertical-align:middle; padding-right:10px; margin-bottom:5px;}


