#frm_cont
{
	background-color:#FFF;
	top:0px;
	left:0px;
	display:none;
}
#manageContentProvider
{
	background-color:#CCC;
	padding:5px;
	width:100%;
	height:100%;
	border:1px solid; 
	border-color:#CCF;
	display:block;
}
#manageSpace
{
	width:100%;
	height:10%;
	border:1px solid;
	border-color:#CCC;
	display:block;
}