#VAST2VDO
{
	font-family: 'Ubuntu-Cond', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#FFF;
	top:0px;
	left:0px;
	width:100%;
	height:600px;
	padding-top:25px;
	
}
#ContentProviderData #sorting
{
	font-family: 'Ubuntu-Cond', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float:right;
	width:400px;
}
#ContentProviderData #sorting #status
{
	vertical-align: middle;
	font:99% sans-serif;
	width:100px;
}
#ContentProviderData #sorting #keywords
{
	vertical-align: middle;
	padding:2px;
	width:200px;
}
#ContentProviderData #sorting button{
	vertical-align: middle;
}