body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#ffffff;
	background-image: url(../images/bg_stripe.gif); 
	background-repeat:repeat-x;
}
body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
img { 
	border:0px;}
#main_container {
	margin: 0px auto;
	width: 960px;
	height: auto;
	background-image:url(../images/art_back.jpg);
	background-repeat:no-repeat;
	margin-top:8px;
/*!important */
}
#header { 
height:83px;
padding:13px 18px 0px 18px;
}
.btn_jobs{
	float:right;
	margin:0px;
	padding:5px 0px 0px 0px;
	height:auto;
	width:170px;
	vertical-align:top;
	text-align:right;
}
.art_logo{
	float: left;
	margin:0px;
	padding:0px;
	height:auto;
	width:250px;
}

#navcontainer { width:934px; margin-left:13px; }
#navcontainer-in { width:934px; height:78px; margin-left:13px; }

#navlist { margin:0px; padding:0px;}
#navlist li { 
	font-family: Tahoma;
	font-weight:normal;
	font-size:12px;
	color:#ffffff;
	display: inline;
	background:url(../images/btn_divi.jpg) no-repeat right .1em;
	padding-right: 14px;
	padding-left: 10px;
	border-right:0px solid #ffffff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:left;	
}
#navlist li a{ color:#ffffff; text-decoration:none; }
#navlist li a:hover{ color:#d3d7d9; text-decoration:none; }

#banner { width:934px; height:335px; margin-left:13px;}
#banner-in { 
	width:934px; 
	height:56px; 
	margin-left:13px; 
	background-image:url(../images/section-bar.jpg); 
	background-repeat:no-repeat; 
	padding: 0 0 0 10px; /*vertical-align:middle;*/} 

#body { float:left; width:943px; margin-left:9px;}
#left_column { width:311px; float:left; }
#left_content {
	margin:0px;
	padding:0px;
	float:left;
	width: 300px;
	height: auto;
	clear: both;
}
	
.left_cont {
	margin:0px;
	padding:0px;
	float:left;
	width: 400px;
}
.right_cont {
	margin:0px;
	padding:0px;
	float:right;
	width: 450px;
}

#mid_column { width:311px; float:left; padding-left:4px;  }
#mid_content {
	float:left;
	width: 312px;
	text-align:justify;
}
#right_column {	width:311px; float:left; padding-left:4px;}
#right_content {
	float:right;
}

#left_content_in {
	width:480px;
	float:left;
	padding-left:20px;
	padding-top: 10px;
}

#right_content_in {
	width:390px;
	float:right;
	padding-right:30px;
	padding-top: 36px;
}

.left_content_in {
	width:480px;
	float:left;
	padding-left:20px;
	padding-top: 10px;
}

.right_content_in {
	width:390px;
	float:right;
	padding-right:30px;
	padding-top: 36px;
}

#footer {
	float:left;
	width:934px;
	margin-left:13px;
	margin-top:10px;
}

.MainHeader {
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	text-transform:uppercase;
	margin-bottom:4px;
	padding-top: 18px;
	padding-left: 5px;
	padding-top: 17px;
}

.MainHeader3 {
	color:#b70ef4;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:8px;
} 

.MainHeader3 A:link { 
	color:#b70ef4; 
	font-size:16px; 
	line-height:18px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	margin-bottom:6px;
}

.MainHeader3 A:hover { 
	color:#0000FF; 
	font-size:16px; 
	line-height:18px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	margin-bottom:6px;
}
.MainHeader3 A:visited { 
	color:#b70ef4; 
	font-size:16px; 
	line-height:18px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	margin-bottom:6px;
}

.MainHeader6 { 
	color:#b70ef4; 
	font-size:16px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	text-transform:uppercase; 
	margin-bottom:4px;
}

.boxbg_top {
	background:url(../images/bg_boxtop.gif) no-repeat left top;
	width:299px;
	height:22px;
	padding:6px 0 3px 12px;
	font-family:tahoma;
	color:#666666;
	font-size:16px;
	text-align:left; /*vertical-align:middle;*/
}

.boxbg { 
	background: url(../images/bg_box.gif) repeat-y; 
	width:311px; font-family:tahoma; 
	color:#666666; 
	font-size:12px; 
	text-align: justify; /*vertical-align:top;*/ 
	height:310px;
	padding-top:3px;
}

.boxbg_bottom { 
	background:url(../images/bg_boxbottom.gif) no-repeat left top; 
	width:311px; 
	height:20px; 
	clear:both;
}

.boxbg a{
	color:#4b4745; 
	text-decoration:underline;
}

.boxbg a:visited{
	color:#4b4745; 
	text-decoration:underline
}

.boxbg a:hover{
	color:#383bfc; 
	text-decoration:underline
}

.boxbg_in_top { 
	background:url(../images/art_boxtop.gif) no-repeat left top; 
	width:944px; 
	height:32px;
}

.boxbg_in {
	background: url(../images/bg_box2.gif) repeat-y;
	width:944px;
	font-family:tahoma;
	color:#333333;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	height:auto;
	text-decoration:none;
}

.boxbg_in a{
	
	font-family:tahoma;
	color:#333333;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	text-decoration:underline;
	}
	
.boxbg_in a:hover{
	font-family:tahoma;
	color: #0000FF;
	font-size:12px;
	line-height:18px;
	text-align:left;
	/*vertical-align:top;*/
	text-decoration:underline;
	}
	
.boxbg_in_bottom { background:url(../images/art_boxbottom.gif) no-repeat left top; width:944px; height:32px; clear:both}

.innerbox2 {
	width:902px;
	border-top:1px solid #e8e7e7;
	font-family:tahoma;
	color:#454646;
	font-size:12px;
	line-height:18px;
	text-align:left; /*vertical-align:top;*/
	margin-left:21px;
	clear:both;
}

.innerbox_news { width:902px; border-top:1px solid #e8e7e7; font-family:tahoma; color:#454646; font-size:12px; line-height:18px; text-align:center; /*vertical-align:top;*/ margin-left:21px; clear:both; }

.boxbg a{color:#4b4745; text-decoration:underline}
.boxbg a:visited{color:#4b4745; text-decoration:underline}
.boxbg a:hover{color:#383bfc; text-decoration:underline}

.innerboxbg_top { background:url(../images/bg_boxtopstrip.gif) repeat-x top; padding:6px 0px 0px 0px; font-family:tahoma; color:#666666; font-size:16px; text-align:left; /*vertical-align:top;*/ height:32px;}
.innerboxbg_leftmid { background:url(../images/bg_boxmiddleleft.gif) repeat-y top; padding:0px; margin:auto}
.innerboxbg_rightmid { background:url(../images/bg_boxmiddleright.gif) repeat-y top; padding:0px;}

.innerbox { background:#FFFFFF; border-top:1px solid #e8e7e7; padding:6px 0px; font-family:tahoma; color:#454646; font-size:12px; line-height:18px; text-align:left; /*vertical-align:top;*/ }
.innerbox a{color:#4b4745; text-decoration:underline}
.innerbox a:visited{color:#4b4745; text-decoration:underline}
.innerbox a:hover{color:#383bfc; text-decoration:underline}

.txtinner_bold {
	font-family:tahoma;
	color:#454646;
	font-size:12px;
	line-height:26px;
	text-align:left;
	font-weight:bold;
}

#subnav UL { 
	DISPLAY: inline; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 11px; 
	MARGIN: 0px; FONT-FAMILY: tahoma; 
	text-align:left; 
	font-style:italic;
}

#subnav UL LI { PADDING-RIGHT: 16px; DISPLAY: inline; FONT-SIZE: 11px; FONT-FAMILY: tahoma; LIST-STYLE-TYPE: none;}
#subnav A:link { COLOR: #1f4fb4; TEXT-DECORATION: none}
#subnav A:visited {	COLOR: #1f4fb4; TEXT-DECORATION: none}
#subnav A:hover { COLOR: #1f4fb4; TEXT-DECORATION: underline}
.current A:link { COLOR: #000000!important}
.current A:visited { COLOR: #000000!important}
.current A:hover { COLOR: #000000!important; TEXT-DECORATION: none!important}

.listmain { margin-left:0; margin-top:0px; margin-bottom:0px; padding-left:12px; list-style:none; }
.listmain li{ background:url(../images/ico_arrow.gif) no-repeat; background-position: .2em .2em; list-style:none;color:#759402; font:bold 12px tahoma; padding:0px 22px 10px 20px;}
.listmain span{ color:#4b4745; font:bold 11px tahoma;}
.listmain span a{ font-weight:bold; text-decoration:underline; color:#4b4745; font-size:11px;}
.listmain span a:visited{ font-weight:bold; text-decoration:underline; color:#4b4745; font-size:11px;}
.listmain span a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:11px;}

.list2 { margin-left:0; padding-left:0; list-style:none; margin-top:0px;}
.list2 li{ 
	background:url(../images/ico_box.gif) no-repeat; 
	background-position:.5em; 
	list-style:none;
	color:#759402; 
	font:bold 11px tahoma;
	padding-left: 20px; 
	padding-bottom:4px; 
}

.list2 li a{color:#4b4745; text-decoration:underline}
.list2 li a:visited{color:#4b4745; text-decoration:underline}
.list2 li a:hover{color:#383bfc; text-decoration:none}

/*.hdbig { font-family:}*/

.listb1{ margin-left: 0;padding-left: 0;list-style: none; margin-top:0px;}
.listb1 li{ 
	background:url(../images/ico_arrow.gif) no-repeat; 
	background-position: .2em .2em; 
	/*ist-style:none;*/
	color:#454646; 
	font:normal 12px tahoma;
	padding-left: 20px; 
	padding-bottom:4px;
}	

li.list2 { 
	background:url(../images/ico_arrow.gif) no-repeat; 
	background-position: .2em .2em; list-style:none;color:#454646; 
	font:normal 12px tahoma;
	padding-left: 28px; 
	padding-bottom:5px;
}

.listgal{
	width:141px;
	height:27px;
	float: left;
	margin-bottom: 5px;
	text-align: left;
	line-height:14px;
	padding: 0px;
}
.listgal_right{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	margin-top:0px;
	width:141px;
	height:27px;
	float: right;
	margin-bottom: 5px;
	margin-right: 7px;
	text-align: left;
	line-height:14px;
}
.listgal li{ background:url(../images/icon.jpg) no-repeat; 
	background-position: .1.5em .2em; 
	list-style:none;color:#759402; 
	font:bold 12px tahoma;
	padding-left: 20px; 
	padding-bottom:10px;
}
.listgal span{ color:#4b4745; font:normal 11px tahoma; margin-left:20px;}
.listgal a{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:visited{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:12px;}

.presslink { 
background:#FFFFFF; 
border-top:1px solid #e8e7e7; 
padding:6px 0px; font-family:tahoma; 
color:#454646; 
font-size:12px; 
line-height:18px; 
text-align:left; /*vertical-align:top;*/ 
}
.presslink a { color:#b70ef4; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;} 
.presslink a:visited { color:#b70ef4; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;} 
.presslink a:hover { color:#383bfc; font-size:16px; font-family:"Trebuchet MS"; margin-bottom:6px;} 

.txtbox { background-color:#FFFFFF; border:1px solid #b5b5b5; width:270px; height:18px;}
.txtfield { background-color:#FFFFFF; border:1px solid #b5b5b5; width:270px; height:58px;}
.button { 
background-color:#e3d8e7; 
border:1px solid #e3d8e7; 
color:#2d1138; width:70px; 
font-size:11px; 
font-family:Tahoma; 
height:18px;
}

.button1 { 
background-color:#e3d8e7; 
border:1px solid #e3d8e7; 
color:#2d1138; 
width:170px; 
font-size:11px; 
font-family:Tahoma; 
height:18px;
}

.txtbox1 { background-color:#FFFFFF; border:1px solid #b5b5b5; width:370px; height:18px;}
.txtfield1 { background-color:#FFFFFF; border:1px solid #b5b5b5; width:370px; height:58px;}

.footer{
	border-top:1px solid #e8e7e7;
	text-align:center;
	color:#6c6b6b;
	font:normal 10px tahoma;
	padding:0px;
}
.dennis{
	width:934px;
	height:24px;
	margin:0px;
	padding-top:10px;
	text-align:center;
	padding-left: 10px;
}
.query{
	width:900px;
	height:auto;
	margin:0px;
	padding:0px;
	text-align: left;
	padding:0px;
}

.dennis_left{
	margin:0px;
	text-align:center;
	float:left;
	background:url(../images/btn_left1.jpg) no-repeat;
	width:10px;
	height:24px;
}
.dennis_right{
	margin:0px;
	width:10px;
	text-align:center;
	background:url(../images/btn_right1.jpg) no-repeat;
	height:24px;
	float:right;
}

.dennis_mid{
	width:914px;
	background: url(../images/bkg_nav.jpg) repeat-x;
	height:24px;
	margin:0px;
	text-align:center;
	float: left;
}

.gallery_leftcol{
	margin:0px;
	padding:0px;
	width:370px;
	height:auto;
	text-align: left;
	line-height: 18px;
}

.left_content_gallery {
	width:372px;
	float:left;
	padding-left:20px;
	height: auto;
}

.contentlink_gallery {
	width:340px;
	float:left;
	height: auto;
	border:#CCCCCC 1px solid;
	padding: 14px;
}

.right_content_gallery {
	width:530px;
	float:right;
	padding-left:15px;
	margin-top: 50px;
	height: auto;
}

.boxbg_gal  { 
	width:902px; 
	font-family:tahoma; 
	color:#454646; 
	font-size:12px; 
	line-height:18px; 
	text-align:left; /*vertical-align:top;*/ 
	margin-left:21px; 
	clear:both; 
}

.left_content_adv {
	width:902px;
	float:left;
	padding-left:20px;
}
.SubHeader_grn { 
	color:#759402; 
	font-size:16px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	margin-bottom:6px;
}

.navcontainer-contact {
	width:934px;
	height:50px;
	margin-left:13px;
}
.link_press { 
	color:#b70ef4; 
	font-size:16px; 
	line-height:18px; 
	font-weight:bold; 
	font-family:"Trebuchet MS"; 
	margin-bottom:6px; 
	text-decoration: none;
	}
.link_press a{ 
	color:#b70ef4; 
	font-size:16px; 
	font-family:"Trebuchet MS";
	text-decoration:underline;
}
.link_press a:hover { 
	color: #0000ff; 
	font-size:16px; 
	font-family:"Trebuchet MS";
	text-decoration:underline;
}
.news{
	float: right;
	margin:0px;
	width:250px;
	height:auto;
	text-align: right;
	margin-right: 10px;
	padding-right: 20px;
}
.news_title{
	float: left;
	margin:0px;
	padding:0px;
	width:200px;
	height:auto;
}
.listgal a{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:visited{ font-weight:bold; text-decoration:none; color:#759402; font-size:12px;}
.listgal a:hover{ font-weight:bold; text-decoration:none; color:#383bfc; font-size:12px;}
.norm{
	text-decoration:none;
	color:#4B4745;
	font-size:11px;
	margin:0px;
	width:330px;
	height:auto;
	float: left;
	text-align: left;
	vertical-align:top;
	padding-bottom: 2px;
	padding-top: 2px;
}
.norm a{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
}
.norm a:visited{
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
}
.norm a:hover{
	font-weight:bold;
	text-decoration:none;
	color:#383bfc;
	font-size:12px;
}

.norm_right{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:160px;
	height:auto;
	float: right;
	text-align: left;
	vertical-align:top;
}
.norm_right a{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	ont-size:12px;
}

.norm_right a:visited{
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
}
	
.norm_right a:hover{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#383bfc; 
	font-size:12px;
}

.norm_listgal{
	color:#4b4745;
	font:normal 11px tahoma;
	margin-left:20px;
	padding-bottom: 2px;
}
.gal_title_left {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	font-weight:bold;
	width: 155px;
	height: 45px;
	text-align: center;
	float: left;
	padding-top: 4px;
}
.gal_title_right {
	color:#759402;
	font:normal 12px tahoma;
	line-height:18px;
	font-weight:bold;
	width: 155px;
	height: 25px;
	text-align: left;
	float: right;
	padding-top: 15px;
}
.gal_linktitle {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 65px;
	text-align: center;
	float: left;
	padding-top: 4px;
	border:1px dotted #CCCCCC;
}
.gal_linktitle_large {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 82px;
	text-align: center;
	float: left;
	padding-top: 4px;
	border:1px dotted #CCCCCC;
}
.gal_link_right {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 65px;
	text-align: center;
	float: right;
	padding-top: 4px;
	border: 1px dotted #CCCCCC;
}
.gal_link_right_large {
	color:#4b4745;
	font:normal 11px tahoma;
	line-height:18px;
	width: 155px;
	height: 82px;
	text-align: center;
	float: right;
	padding-top: 4px;
	border: 1px dotted #CCCCCC;
}
.gal_txttitle {
	line-height:18px;
	width: 180px;
	height: 45px;
	text-align:left;
	float: right;
}
.inner_gallery {
	width:330px;
	float:left;
	height: auto;
	border:#CCCCCC 1px solid;
	padding: 19px;
	clear: both;
}
.homgal_right{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:140px;
	height:auto;
	float: right;
	text-align: left;
	vertical-align:top;
}
.homgal_right a{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
}

.homgal_right a:visited{
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
	}
	
.homgal_right a:hover{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#383bfc; 
	font-size:12px;
}
.homgal_left{
	font-weight:bold;
	text-decoration:none;
	color:#759402;
	font-size:12px;
	margin:0px;
	padding:0px;
	width:150px;
	height:134px;
	float: left;
	text-align: left;
	vertical-align:top;
}
.homgal_left a{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
}

.homgal_left a:visited{
	font-weight:bold; 
	text-decoration:none; 
	color:#759402; 
	font-size:12px;
	}
	
.homgal_left a:hover{ 
	font-weight:bold; 
	text-decoration:none; 
	color:#383bfc; 
	font-size:12px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.ind_gal{
padding-bottom:2px;
margin:0px;
height:6px;
width:150px;
float:left;
}
/* query-navigation */

.querylist_left{
	margin-right:20px;
	height: auto;
	width:281px;
	float:left;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	border:0px;
	text-decoration:none;
	padding: 0px;
}
.querylist_left ul{
margin: 0; 
padding: 0;
list-style: none;
}
.querylist_left li 
{
list-style: none;
display: block;
text-decoration:none;
}

.querylist_right
{
	margin-right:10px;
	padding-right:5px;
	height: auto;
	width:281px;
	float:right;
	line-height:16px;
	text-align:left;
	vertical-align:top;
}
.querylist_right ul 
{
margin: 0; padding: 0;
}
.querylist_right li 
{
list-style: none;
}

.networkquerylist{
	margin-right:15px;
	height: auto;
	width:565px;
	float:left;
	line-height:18px;
	text-align:left;
	vertical-align:top;
	border:0px;
	text-decoration:none;
	padding: 0px;
}
.networkquerylist ul{
margin: 0; 
padding: 0;
list-style: none;
}
.networkquerylist li 
{
list-style: none;
display: block;
text-decoration:none;
}

#marqueecontainer{
	position: relative;
	width: 282px; /*marquee width */
	height: 290px; /*marquee height */
	background-color: white;
	overflow: auto;
	padding-left: 0px;
	text-align:center;
	
	
}

#marqueecontainer2{
	position: relative;
	width: 275px; /*marquee width */
	height: 290px; /*marquee height */
	background-color: white;
	overflow: hidden;
	padding: 2px;
	padding-left: 4px;
	text-align:center;
}
.index_galleft{
	margin:0px;
	padding:2px;
	width:87px;
	height:280px;
	overflow: hidden;
	float:left;
}
.index_publisherleft{
	margin:0px;
	padding:8px 0px 0px 0px;
	width:130px;
	height:auto;
	overflow: hidden;
	float:left;
	text-align: center;
}
.index_publisherright{
	margin:0px;
	padding:8px 0px 0px 0px;
	width:130px;
	height:auto;
	text-align:center;
	vertical-align: middle;
	float:right;
	}
.index_galright{
	margin:0px;
	padding:2px;
	width:87px;
	height:280px;
	overflow: hidden;
	float:right;
}
.index_calbox{
	margin:0px;
	padding:8px opx 2px 0px;
	width:122px;
	height:60px;
	text-align:center;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration:none;
}
.index_calbox a{
	color: #333333;
	text-decoration:none;
}
.index_calbox a:hover {
	color: #333333;
	text-decoration: none;
}
.index_calbox a:visited{
	color: #333333;
	text-decoration:none;
}
.index_adgalbox{
	margin:0px;
	padding:8px opx 2px 0px;
	width:87px;
	height:52px;
	text-align:center;
	vertical-align: middle;
	
	}
/*---------Jobs page start----------*/
.jobs{
	margin:0px;
	padding:0px;
	width:100%;
	height:530px;
}
.job_left{
	margin:20px;
	padding:10px;
	border:1px solid #CCCCCC;
	height:auto;
	width:390px;
	float:left;
}

.job_right{
	margin:18px;
	padding:10px;
	border:1px solid #CCCCCC;
	height:auto;
	width:390px;
	float:right;
}
.job_eng{
	margin:0px 10px 0px 20px;
	padding:0px;
	height:auto;
	width:860px;
	float:left;
}

/*---------Jobs page end----------*/

.events{
	margin:0px;
	padding:0px;
	width:100%;
	height:380px;
}
.adgal_txt{
	margin:0px;
	padding:15px 0px 15px 0px;
	text-align:justify;
	height:auto;
	width:auto;
}
.galinner_heading{
	color:#b70ef4;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	font-family:"Trebuchet MS";
	margin-bottom:8px;
}
