<script type="text/javascript" src="http://i2.vdopia.com/dev/pankaj_adserver/js/jquery/jquery.js"></script>
<script type="text/javascript" 

src="http://i2.vdopia.com/dev/pankaj_adserver/js/thickbox/thickbox-compressed.js"></script>
<link rel="stylesheet" href="http://i2.vdopia.com/dev/pankaj_adserver/js/thickbox/thickbox.css" type="text/css" media="screen" />
<table border="0" cellpadding="0" cellspacing="1">
    <tr>
        <td> <a title="Sample Inviter" 

href="http://i2.vdopia.com/dev/pankaj_adserver/inviter/inviter.php?inframe=true&TB_iframe=true&height=450&width=520" 

class="thickbox"><img 

src="http://i2.vdopia.com/dev/pankaj_adserver/images/email.png" border="0"></a></td>
    </tr>
</table>
