/* This file skins tableSorter */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #ECF5FA;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color: #333333;
}
table.tablesorter thead tr .header {
	background-image: url(i/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 15px;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	font-size: 8pt;
}
table.tablesorter tbody tr.odd td {
	background-color:#f7f7f7;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(i/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(i/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #ACC5CA;
}
