body
{
margin-top:10px;
margin-bottom:10px;
margin-right:10px;
margin-left:10px;
}

.reportTable
{
border: 3px solid black;
text-align:left;
bgcolor=#FFFFFF;
}

th {
  height: 50px;
  font-weight: bold;
  text-align: left;
  background-color: #888888;

}
