body{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
			
/*
	background-color: #FFFFFF;
	background-image: url(../images/back_bg.jpg);
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#C6CCD8;
	scrollbar-shadow-color:#000000;
	scrollbar-face-color:#374D79;
	scrollbar-highlight-color:#B2BAC9;
	scrollbar-darkshadow-color:#B2BAC9;
	scrollbar-3dlight-color:#374D79;
*/
}
.text12 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #7A7A7A;
	text-decoration: none;
}
.text11 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #7A7A7A;
	text-decoration: none;
}
.center-bg {
	background-image:url(../images/form-curve-bg.jpg);
	background-repeat:repeat-y;
}
.button {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #707070;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7C7C7C;
	border-right-color: #BDBCBC;
	border-bottom-color: #BDBCBC;
	border-left-color: #7C7C7C;
	padding: 3px 10px 3px 10px ;
}
.textBox {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	height: 16px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9D9D9D;
	border-right-color: #E5E5E5;
	border-bottom-color: #E5E5E5;
	border-left-color: #9D9D9D;
}
.droupdown {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
	text-decoration: none;
	background-color: #F9F9F9;
}

a:hover {
	color: #019AFF;
	text-decoration: underline;
}
.linktext {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #019AFF;
	text-decoration: none;
}
.topBorder {
background-color: #F6F6F6;
border-top: 1px solid #E1E1E1;
}
.bottomBorder {
background-color: #F6F6F6;
border-bottom: 1px solid #E1E1E1;
}
.centerBorder {
background-color: #F6F6F6;
border-left:1px solid #E1E1E1;
border-right:1px solid #E1E1E1;
padding:30px;
}
.loaderBorder {
border:solid 1px #00A9C6;
background-color:#FFFFFF;
}
.loaderBg {
background-color:#66E9FF;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

