@charset "utf-8";
/* CSS Document */

*	{margin:0;
	padding:0;
	border:0;
	outline:none 0;}

body {background:#e5e5e5;}
div.header	{background:url(../../images/report/bg1.png) repeat-x 0 0;}
.new_report_select{width:292px;height:150px !important;/*margin-top:15px;*/background:none;float:left;padding:5px}
.new_report_selecttarget {width:292px;height:150px !important;/*margin-top:15px;*/background:none;float:left;}
.new_report_selectpage{width:90px;float:left;margin-right:6px;height: 20px;}
.new_report_input {padding-left: 5px;width:400px;height:27px;border: 1px solid #cac8c8;color: #454545;font-size: 13.5px;float:left}
.new_report_button {width:65px;height:20px;display: block;float:left;margin-bottom: 5px}
.new_report_previous {width:55px;height:20px;float:left;margin-right:6px;}
.new_report_next {width:53px;height:20px;float:left;}
.new_report_div {float:left;margin-top: 12px;}
.new_report_divbutton {width:65px;margin-top: 60px;float:left;margin-left:10px;margin-right:10px;}
div.new_report	{width:97%; margin:0 auto; padding-bottom:70px;}
.new_report_campaignSelect {float:left;}
.new_report_spansearch {position: relative;float: left;margin-right: 18px;margin-top: 7px;}
.new_report_headingclass {width:200px;color: #747474;
    font-family: Arial, Helvetica, sans-serif;float:left}
div.new_report > h1 {color:#027881;
			border-bottom:1px dotted #747474;
			padding:15px 0 10px 0px;
			margin-bottom:10px;
			font:normal 18px Arial, Helvetica, sans-serif;}
div.new_report > p {width:100%;color:#747474;font-family:Arial, Helvetica, sans-serif; float:left;margin-bottom:7px;}
div.new_report > p > span {width:200px;float:left; line-height:27px;word-spacing:1px;}
div.new_report > p > span > em {color:#F00;}
div.new_report > p > label {width:auto;float:left;height:27px;}
div.new_report > p > label > strong {color:#454545;font-weight:bold;font-size:13px;}
div.new_report p > label > input {width:400px;height:27px;background:url(../../images/report/inpt_bG.jpg) repeat-x 0 0;border:1px solid #cac8c8;color:#454545;font-size:13.5px;}
div.new_report > p > label > input:focus {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;}
div.new_report > p > label > select {width:400px;background:url(../../images/report/inpt_bG.jpg) repeat-x 0 0; border:1px solid #cac8c8; color:#454545;outline:none 0;height:27px;}
div.new_report > p > label > select:focus {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;}
.selct {height:75px;width:400px;}
.slct {height:30px;}
.multiple_select {background:url(../../images/report/combo_box.jpg) repeat-x 0 0 !important;} 
div.comapign_panel {/*width:100%;*/float:left; margin-bottom:10px;}
div.comapign_panel > div.pagination_panel {width:auto; float:left;}
div.btnz {width:400px;}
div.btnz > p {font:bold 12px Arial, Helvetica, sans-serif; color:#454545; margin-bottom:10px;float:left;margin-left:200px;width:100%;}
div.btnz > p input[type=checkbox] {vertical-align:middle;}
div.btnz > p > a {width:auto;line-height: 27px;background:url(../../images/report/inpt_bG.jpg) repeat-x 0 0;height:27px;padding:0px 15px;border:1px solid #ccc;color:#36F; text-decoration:none; text-transform:uppercase;}
div.btnz > p > a:hover {color:#00C;box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;}
div.btnz > p > select {background:url(../../images/report/inpt_bG.jpg) repeat-x 0 0;height:30px;border:1px solid #ccc;color:#36F;}
div.btnz > p > select:hover {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;} 
div.comapign_panel > div.pagination_panel > div.report_info {width:300px/*380px*/; height:150px/*200px*/; background:url(../../images/report/txt_box.jpg) repeat-x 0 0; padding:0px;border:1px solid #ccc;}
div.comapign_panel > div.pagination_panel > div.report_info {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;}
div.comapign_panel > div.move_btn {width:45px;float:left;padding-top:130px;padding-left:10px;}
div.comapign_panel > div.move_btn > a > img {margin-bottom:15px;}
div.comapign_panel > div.move_btn > a > img:hover {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;}
div.new_report > p.report_footer {color:#007777;font:normal 11px Arial, Helvetica, sans-serif; margin-top:50px;}
div.new_report > p input[type=button] {background:url(../../images/report/inpt_bG.jpg) repeat-x 0 0;padding:7px 15px; border:1px solid #ccc;font:bold 12px Arial, Helvetica, sans-serif;color:#0A3FDF;}
div.new_report > p input[type=button]:hover {box-shadow:1px 1px 2px #ccc, -1px -1px 2px #ccc;cursor:pointer;}

/* SCROLLBAR */
.scrollbar_x { /*width: 520px;*/width:380px; margin: 0px 0 10px;}
.scrollbar_x .viewport {/* width: 500px; height: 200px;*/ width:360px; height:200px; overflow: hidden; position: relative;}
.scrollbar_x .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0px; margin: 7px 0px; }
.scrollbar_x .overview p {padding:0px 0px 1px 10px; color:#747474;font:normal 12px Arial, Helvetica, sans-serif;}
.scrollbar_x .scrollbar{ background: transparent url(../../images/report/bg-scrollbar-track-y.pg) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbar_x .track { background: transparent url(../../images/report/bg-scrollbar-trackend-y.pg) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar_x .thumb { background: transparent url(../../images/report/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar_x .thumb .end { background: transparent url(../../images/report/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar_x .disable { display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.loadingImage{margin-left: auto;display: block;margin-right: auto;vertical-align: middle;}

.inputReport {background:white;
    border:1px solid #ffcc00;
    box-shadow:0 0 3px #ffcc00;
    -moz-box-shadow:0 0 3px #ffcc00;
    -webkit-box-shadow:0 0 3px #ffcc00;}

.reportFormInput {padding-left: 5px;}
